"*":
  "atom-autocomplete-php":
    binComposer: "composer"
    binPhp: "/usr/local/php5/bin/php"
  "atom-material-ui":
    colors:
      genAccent: true
    fonts: {}
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui: {}
  "autocomplete-php": {}
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "tabs"
      "linter-twig"
    ]
    themes: [
      "atom-material-ui"
      "ilm-shell-syntax"
    ]
  docblockr:
    param_description: false
    return_description: false
  editor:
    fontFamily: "Inconsolata, Fira Code, Monaco, monospace"
    fontSize: 17
    invisibles: {}
    lineHeight: 2.5
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "2dd7b5fe-b3c0-ee91-59c1-98900691a247"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  linter:
    errorPanelHeight: 316
  "linter-php":
    executablePath: "/usr/local/php5/bin/php"
  "linter-phpcs":
    ignorePatterns: [
      "*.blade.php"
      "*.twig"
      "database/"
    ]
  "linter-phpmd": {}
  "linter-twig": {}
  "tree-view":
    hideVcsIgnoredFiles: true
    showOnRightSide: true
    squashDirectoryNames: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
