"*":
  "atom-material-ui":
    colors:
      genAccent: true
    fonts: {}
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui: {}
  core:
    automaticallyUpdate: false
    disabledPackages: [
      "tabs"
    ]
    themes: [
      "atom-material-ui"
      "itg-dark-syntax"
    ]
  editor:
    fontFamily: "Inconsolata, Fira Code, Monaco, monospace"
    fontSize: 17
    invisibles: {}
    lineHeight: 3.25
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
  "exception-reporting":
    userId: "2dd7b5fe-b3c0-ee91-59c1-98900691a247"
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "vim-mode": {}
  welcome:
    showOnStartup: false
